[submodule "Packages/FlowScript"]
	path = Packages/FlowScript
	url = https://github.com/RogueLiteStudio/Package.FlowScript.git
[submodule "Packages/ECS"]
	path = Packages/ECS
	url = https://github.com/RogueLiteStudio/Package.ECS.git
[submodule "Packages/SDFNav"]
	path = Packages/SDFNav
	url = https://github.com/RogueLiteStudio/Package.SDFNav.git
[submodule "Packages/EasyConfig"]
	path = Packages/EasyConfig
	url = https://github.com/RogueLiteStudio/Package.EasyConfig.git
[submodule "Packages/FrameLine"]
	path = Packages/FrameLine
	url = https://github.com/RogueLiteStudio/Package.FrameLine.git
[submodule "Packages/ShapeCollider"]
	path = Packages/ShapeCollider
	url = https://github.com/RogueLiteStudio/Package.ShapeCollider.git
[submodule "Packages/Common"]
	path = Packages/Common
	url = https://github.com/RogueLiteStudio/Package.Common.git
[submodule "Packages/NamedAsset"]
	path = Packages/NamedAsset
	url = https://github.com/RogueLiteStudio/Package.NamedAsset.git
